.timer {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .progress-bar {
    position: absolute;
    background-color: #599f68;
    height: 5px;
  }

  .time {
    position: relative;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    gap: 10px;
    font-size: 96px;
    margin: 0 0 20px;

    .time-element {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 160px;

      p {
        margin: 0;
        text-align: right;
      }

      &:not(:first-child) p {
        width: 125px;
      }

      .time-unit {
        margin-bottom: 10px;
        margin-right: 10px;
        opacity: 0.5;
        font-size: 24px;
        width: 20px;
        text-align: right;
      }

      &:hover:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: black;
        filter: opacity(20%);
        border-radius: 10px;
      }

      @media (prefers-color-scheme: light) {
        &:hover::after {
          filter: opacity(10%);
        }
      }
    }
  }

  .button_container {
    display: flex;
    gap: 15px;

    button {
      position: relative;
      height: 45px;
      width: 90px;
      border: none;
      font-size: 20px;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover {
        filter: opacity(0.9);
      }

      &:active {
        filter: opacity(0.8);
      }

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: inherit;
        filter: blur(8px);
      }
    }

    .start_button {
      background-color: #599f68;
    }

    .stop_button {
      background-color: #c8102e;
    }

    .reset_button {
      background-color: #6e6f71;
    }
  }
}
